html {
    overflow-x: hidden
}

body {
    background-color: white;
    margin: 0 !important;
    padding: 0 !important;
    font-family: "Roboto";
}

#search_list_operations{
    display: none;
}

.leftSettings {
  min-width: 15%;
  float:left;
  min-height:20px;
  margin-right: 10px;
}

.leftBiggerSettings {
  width: 40%;
  float:left;
  min-height:20px;
  margin-right: 10px;
}


.clearSettings {
  clear:both;
}

.contSettings {
  border: 1px solid #ddd;
  margin: 15px 0;
  padding: 5px;
}

h4{
    color: #0277bd;
}

#preview-textfield{
    position: absolute;
    padding-top: 10%;
    padding-left: 19%;
    font-family: "Roboto";
    color: white;
    font-size: 50px;
}

#bonjour {
    padding-top:12px;
}

#connexion{
    padding-top:12px; 
    color: grey
}

.blueCard {
    height: 480px;
}

.cardWhite {
    height: 50px;
}

@media screen and (min-width: 0px) and (max-width: 1300px) {
    .responsiveCard {
        display: none;
    }

    .blueCard {
        height: 230px;
    }

    #connexion{
        padding-top:-40px; 
    }

    .cardWhite {
        height: 70px;
    }

    h5 {
        font-size: 1em;
    }

    #preview-textfield{
        position: absolute;
        padding-top: 10%;
        padding-left: 18%;
        font-family: "Roboto";
        color: white;
        font-size: 10px;
    }
}

@media screen and (min-width: 400px) and (max-width: 599px) {

    #bonjour {
        padding-top:0px;
    }

    #connexion{
        padding-top:0px; 
    }

    h5 {
        font-size: 1.2em;
    }
    
    .blueCard {
        height: 215px;
    }

    .cardWhite {
        height: 50px;
    }

    .primaryCard{
        margin-top: 22%;
    }

    #preview-textfield{
        position: absolute;
        padding-top: 10%;
        padding-left: 18%;
        font-family: "Roboto";
        color: white;
        font-size: 20px;
    }
}

@media screen and (min-width: 600px) and (max-width: 600px) {
        
    #bonjour {
        padding-top:0px;
    }

    #connexion{
        padding-top: 58px; 
    }
   
    h5 {
        font-size: 1.2em;
    }

    .blueCard {
        height: 300px;
    }

    .cardWhite {
        height: 60px;
    }

    #preview-textfield{
        position: absolute;
        padding-top: 10%;
        padding-left: 18%;
        font-family: "Roboto";
        color: white;
        font-size: 22px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    #searchOperationCss {
        margin-top: 10%;
    }

    #bonjour {
        padding-top:0px;
    }

    #connexion{
        margin-top: -10%; 
    }

    h5 {
        font-size: 1.2em;
    }

    .blueCard {
        height: 270px;
    }

    .cardWhite {
        height: 60px;
    }

    #preview-textfield{
        position: absolute;
        padding-top: 10%;
        padding-left: 18%;
        font-family: "Roboto";
        color: white;
        font-size: 22px;
    }
}

@media screen and (min-width: 661px) and (max-width: 992px) {
    #connexion{
        margin-top: -7%; 
    }

    .blueCard {
        height: 320px;
    }


    #preview-textfield{
        position: absolute;
        padding-top: 10%;
        padding-left: 17%;
        font-family: "Roboto";
        color: white;
        font-size: 32px;
    }
}

@media screen and (max-width: 1140px) {
    #accountNav{
        display: none;
    }
}

@media screen and (min-width: 1350px) {
    #searchOperationCss {
        margin-top: 4%;
    }
}

@media screen and (min-width: 993px) and (max-width: 1300px) {
    .blueCard {
        height: 350px;
    }

    #preview-textfield{
        position: absolute;
        padding-top: 10%;
        padding-left: 17%;
        font-family: "Roboto";
        color: white;
        font-size: 45px;
    }
}